*.cmo
*.cmi
*.o
*.cmx
*.annot
*.a
*.cma
*.cmxa

# generated ml files
gr_grs_parser.ml
gr_grs_parser.mli
lexer.ml

.depend

Makefile

confdefs.h
config.log
config.status
doc/*.pdf
doc/*.log
doc/*.aux

*.sublime-*
